<div class="pet-images">
  <img ng-src="{{photo}}"
       class="pet"
       ng-repeat="photo in pet.photoUrls"
       ng-class="{active: mainImageUrl==photo}">
</div>

<h1>{{pet.name}} <span style="0.7em">({{pet.category.name}})</span></h1>
<span style="text-decoration: underline;">status: </span> {{pet.status}}

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sodales ex eu odio scelerisque, quis dapibus diam volutpat. Quisque viverra, lacus at laoreet pulvinar, leo augue egestas arcu, et porttitor erat sapien ultricies nibh. Ut sed tortor id justo viverra malesuada sit amet et est. Cras aliquet ipsum ipsum, vel dapibus velit pharetra vel. Cras elementum vehicula metus eu gravida. Aliquam consequat risus at risus varius lobortis. Etiam sed felis sit amet ante convallis tristique. Morbi aliquet, massa vel varius congue, mi tellus vulputate turpis, sed iaculis lacus est nec odio. Donec nec risus eu justo porttitor euismod. Duis in consectetur felis. Sed ultrices, sem vel mattis pretium, diam nisi hendrerit erat, fermentum dictum nisl nibh varius dui. Suspendisse consequat magna nec ligula tincidunt efficitur.
</p>
<h2>Tags</h2>
<ul>
	<li ng-repeat="tag in pet.tags">
		{{tag.name}}
	</li>
</ul>

<ul class="pet-thumbs">
  <li ng-repeat="photo in pet.photoUrls">
    <img ng-src="{{photo}}" ng-click="setImage(photo)">
  </li>
</ul>
{{pet.status}}
<ul class="specs">
    <span>Description</span>
    <dl>
      <dt></dt>
      <dd></dd>
      <dt></dt>
      <dd></dd>
    </dl>
  </li>
  
</ul>
