<div class="container-fluid">
  <div class="row">
  	<div class="col-md-12">
  		<a href="#/logout">Logout</a>
  	</div>
  </div>
  <div class="row">
			
    <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="search">
      <input type="button" value="New" ng-click="goCreate()">

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="pets">
        <li ng-repeat="pet in pets | filter:{name:search}" class="thumbnail pet-listing">
          <a href="#/pets/{{pet.id}}" class="thumb">
          <img style="width:90px" ng-src="{{pet.photoUrls[0]}}" alt="{{pet.name}}" ng-cloak></a>
          <a href="#/pets/{{pet.id}}" style="font-size:1.5em">{{pet.name}}</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel volutpat massa, eget eleifend tortor. Sed accumsan leo quis sem dictum, ut rutrum ipsum mollis. Duis erat magna, consectetur non nunc ut, laoreet congue nibh. Interdum et malesuada fames ac ante ipsum primis in...</p>
        </li>
      </ul>

    </div>
  </div>
</div>
