<span>
	<a href="#/pets/{{$ctrl.pet.id}}" class="thumb">
	<img style="width:90px" ng-src="{{$ctrl.pet.photoUrls[0]}}" alt="{{$ctrl.pet.name}}" ng-cloak></a>
	<a href="#/pets/{{$ctrl.pet.id}}" style="font-size:1.5em">{{$ctrl.pet.name}}</a>
	<p>{{$ctrl.prefix}}Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vel volutpat massa, eget eleifend tortor. Sed accumsan leo quis sem dictum, ut rutrum ipsum mollis. Duis erat magna, consectetur non nunc ut, laoreet congue nibh. Interdum et malesuada fames ac ante ipsum primis in...</p>
</span>